# Stack PoC — variables d'environnement (ne pas committer en prod)
LDAP_ADMIN_PASSWORD=ChangeMeAdmin2026!
LDAP_CONFIG_PASSWORD=ChangeMeConfig2026!
MARIADB_ROOT_PASSWORD=ChangeMeRoot2026!
MARIADB_PASSWORD=ChangeMeGlpi2026!
